<section class="conteudo">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6 offset-2">

          <p>Informações de contato com a Johnny Dev</p>

          <div class="contato-item">
            <div><i class="far fa-envelope"></i></div>
            <div>
              <a href="mailto:tiago.oliveira@caed.ufjf.br">tiago.oliveira@caed.ufjf.br</a>
            </div>
          </div>

          <div class="contato-item">
            <div><i class="fab fa-whatsapp"></i></div>
            <div><a href="https://api.whatsapp.com/send?phone=5532984485775&text=Plataforma%20SGA" target="_blank">WhatsApp</a></div>
          </div>

          <div class="contato-item">
              <div><i class="far fa-clock"></i></div>
              <div>De segunda a sexta-feira, de 8h às 18hrs</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
